body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: inherit;
    overflow: hidden;
    z-index: 1;
}
#cursor, #login-block{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    width: calc(100% - 8px);
    height: 100%;
    background: inherit;
    overflow: hidden;
}
#cursor {
    z-index: 4;
}
#login-block {
    z-index: 3;
}
#system {   
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1ch;
    padding-left: 2ch;
    margin: 0;
    width: 19ch;
    display: none;
    z-index: 2;
}
#not-found {
    display: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2ch;
    letter-spacing: 1ch;
    position: fixed;
    overflow: hidden;
    justify-content: space-around;
}
#not-found div {
    width: 19ch;
    height: min-content;
    margin: auto;
    padding: none;
}