@-webkit-keyframes blink {to {background: 0.0;}}
@-moz-keyframes blink {to {opacity: 0.0;}}
@-ms-keyframes blink {to {opacity: 0.0;}}
@-o-keyframes blink {to {opacity: 0.0;}}
@keyframes blink {to {opacity: 0.0;}}
.blink {
    display: inline-block;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
    -webkit-transform: translate(-1ch, 0);
    -moz-transform: translate(-1ch, 0);
    -ms-transform: translate(-1ch, 0);
    -o-transform: translate(-1ch, 0);
    transform: translate(-1ch, 0);
}