@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}