#wrapper {
    display: none;
}
#cursor {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 4;
}
#login-block {
    position: absolute;
    margin-top: 0;
    margin-left: 4px;
    width: calc(100% - 4px);
    height: 100%;
    background: #000000;
    z-index: 3;
}