.homebrew {
    background: #000000;
    color: #3FFE15;
}
.homebrew a {
    color: #3FFE15;
}
.homebrew a:hover {
    background: #081E9A;
}
.homebrew ::selection {
    background: #081E9A;
}
.homebrew .blink {
    background: #38FE27;
}