.man-page {
    background: #FEF49C;
    color: #000000;
}
.man-page a {
    color: #000000;
}
.man-page a:hover {
    background: #BFB875;
}
.man-page ::selection {
    background: #BFB875;
}
.man-page .blink {
    background: #8B8B8B;
}