.ocean {
    background: #224FBC;
    color: #FFFFFF;
}
.ocean a {
    color: #FFFFFF;
}
.ocean a:hover {
    background: #216DFF;
}
.ocean ::selection {
    background: #216DFF;
}
.ocean .blink {
    background: #8B8B8B;
}