.pro {
    background: #000000;
    color: #ffffff;
}
.pro a {
    color: #ffffff;
}
.pro a:hover {
    background: #808080;
}
.pro ::selection {
    background: #808080;
}
.pro .blink {
    background: #ffffff;
}