.red-sands {
    background: #7A251E;
    color: #DFBD22;
}
.red-sands a {
    color: #DFBD22;
}
.red-sands a:hover {
    background: #3D1916;
}
.red-sands ::selection {
    background: #3D1916;
}
.red-sands .blink {
    background: #FFFFFF;
}